.modal {
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.modal-main {
  position:fixed;
  background: white;
  width: 70%;
  height: auto;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  border-radius: 5px;

}

.display-block {
  display: block;
}

.display-none {
  display: none;
}

.close-modal-button{
  border-style: none;
  background-color:white;
  font-size: 24px;
  cursor: pointer;
  color: grey
}

.close-modal-button:hover{
  opacity: 0.8;
  cursor: pointer;
}


.create-article-modal {
  position:fixed;
  background: white;
  width: 100%;
  height: auto;
  top:5%;
  left:10%;
  transform: translate(-10%,10%);
  border-radius: 5px;

}